

<div class="background">

  <div class="container-fluid">
    <div class="header">
      <div class="mt-5">
      <span class="title">
        {{ title }}
      </span>
      </div>
    </div>

    <div class="main-content">
      <div class="row justify-content-md-center">
        <div class="col col-lg-6 img-wrapper">
          <img src="https://aebischerle.github.io/tweb_project1_client/assets/img/assets.svg" class="image">
        </div>
      </div>
      <!-- Explanation part -->
      <div class="row justify-content-md-center mb-0">
        <div class="col col-lg-6 explanation">
          <p class="title">You need help on a project? 😕</p>
          <p class="subtitle">Just past it below and compare wich developer will be the best to help you! 🤗</p>
        </div>
      </div>

      <!-- Input part -->
      <div class="row justify-content-md-center mb-0">
        <div class="col col-lg-6 input-wrapper main-button">
          <form (submit)="newCompare($event)">
            <!-- Catch the past event -->
            <input [disabled]="step != 0" type="text" class="form-control" placeholder="User"
                   [value]="userName"
                   (input)="userName = $event.target.value; repoError = false"
                   (paste)="handlePast($event)">

            <span class="slash">/</span>

            <input [disabled]="step != 0" type="text" class="form-control" placeholder="Repo"
                   [value]="repoName" (input)="repoName = $event.target.value; repoError = false">

            <button [disabled]="step != 0" *ngIf="!repoLoading" type="submit" class="btn btn-light">GO!</button>
            <button [disabled]="step != 0" *ngIf="repoLoading" type="submit" class="btn btn-light">
              <span class="oi oi-reload loading" aria-hidden="true"></span>
            </button>

          </form>
        </div>
      </div>
      <div class="row justify-content-md-center mb-3 mt-3">
        <span class="or-txt">OR</span>
      </div>
      <!-- DropDown part -->
      <div class="row justify-content-md-center mb-0 mt-3">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Choose recent...
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a *ngFor="let repo of latestsComparisons" (click)="loadExistingComparison(repo._id)" class="dropdown-item" href="#">
              {{ repo.repoName }} - User: {{ repo.users.length }}
            </a>
          </div>
        </div>
      </div>

      <div class="row justify-content-md-center">
        <div class="col col-lg-6 input-wrapper">
          <span *ngIf="repoError" class="user-error light">Repo not exist</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="bottom-part" [hidden]="!statsShowing">
  <div class="container-fluid">
    <div class="row">
      <div class="col col-lg-4 contributor-panel">
        <span class="title-dark">Contributors</span>

        <div *ngFor="let contrib of contributorsName" class="contributor">
          <button class="oi oi-minus delete" aria-hidden="true" (click)="deleteContrib(contrib)"></button>
          {{ contrib.name }}
        </div>
        <div class="contributor-wrapper input-wrapper">
          <form (submit)="addContrib($event)">
            <input type="text" class="form-control" placeholder="Add a contributor"  [value]="contribName" (input)="contribName = $event.target.value; contribError = false">
            <button type="submit" class="btn btn-outline-primary">
              <span *ngIf="!userLoading" class="oi oi-plus" aria-hidden="true"></span>
              <span *ngIf="userLoading" class="oi oi-reload loading" aria-hidden="true"></span>
            </button>
          </form>
        </div>
        <span *ngIf="contribError" class="user-error">User not exist</span>
      </div>

      <div class="comparator-pane col col-lg-8">
        <span class="title-dark">Comparator</span>
        <ul class="nav nav-tabs" id="chartTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="languages-tab" data-toggle="tab" href="#languages" role="tab" aria-controls="home" aria-selected="true">Languages</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="project-tab" data-toggle="tab" href="#project" role="tab" aria-controls="profile" aria-selected="false">Project</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="result-tab" data-toggle="tab" href="#result" role="tab" aria-controls="contact" aria-selected="false">Result</a>
          </li>
        </ul>
        <div [hidden]="!isDatasLoaded" class="tab-content" id="myTabContent">
          <!-- Languages -->
          <div class="tab-pane fade show active" id="languages" role="tabpanel" aria-labelledby="home-tab">
            <canvas id="barChart"></canvas>
            <div *ngIf="isDatasFiltered" class="filter-msg">
              <span>Some data's have been hide because of low impact...</span>
            </div>
          </div>

          <!-- Project -->
          <div class="tab-pane fade" id="project" role="tabpanel" aria-labelledby="profile-tab">
            <div *ngFor="let temp of getPieLine(); let i = index" class="row chart-languages">
              <div *ngFor="let item of repoStats.slice(3*i,3*i + 3);let j = index" class="col-4 chart">
                  <span class="title-dark">{{ item.key }}</span>
                  <canvas id="pieChart{{i + j}}"></canvas>
              </div>
            </div>
          </div>

          <!-- Podium -->
          <div class="tab-pane fade" id="result" role="tabpanel" aria-labelledby="contact-tab">
            <div class="row podium">
              <div class="col-3 empty">

              </div>
              <div class="col-3 offset-1 empty">
                <!-- here winner -->
                <img *ngIf="podiumContributors[0] !== undefined" src="{{podiumContributors[0].avatar_url}}"
                    (click)="openLink(podiumContributors[0].html_url)">
                    <h3 *ngIf="podiumContributors[0] !== undefined">{{ podiumContributors[0].name }}</h3>
              </div>
              <div class="col-3 offset-1 empty">
                
              </div>
            </div>
            <div class="row podium medal">
              <div class="col-3 empty">
                <!-- here second -->
                <img *ngIf="podiumContributors[1] !== undefined" src="{{podiumContributors[1].avatar_url}}"
                (click)="openLink(podiumContributors[1].html_url)">
                <h3 *ngIf="podiumContributors[1] !== undefined">{{ podiumContributors[1].name }}</h3>
              </div>
              <div class="col-3 offset-1 first top">
                <!-- here medal -->
                <img *ngIf="podiumContributors[0] !== undefined" src="https://aebischerle.github.io/tweb_project1_client/assets/img/medal.png">
              </div>
              <div class="col-3 offset-1 empty">

              </div>
            </div>
            <div class="row podium">
              <div class="col-3 second top">

              </div>
              <div class="col-3 offset-1 first">

              </div>
            <div class="col-3 offset-1 empty">
              <!-- here third -->
              <img *ngIf="podiumContributors[2] !== undefined" src="{{podiumContributors[2].avatar_url}}"
                   (click)="openLink(podiumContributors[2].html_url)">
              <h3 *ngIf="podiumContributors[2] !== undefined">{{ podiumContributors[2].name }}</h3>
            </div>
          </div>
          <div class="row podium">
            <div class="col-3 second">

              </div>
              <div class="col-3 offset-1 first">

              </div>
              <div class="col-3 offset-1 third top">

              </div>
            </div>
          </div>
        </div>
        <div *ngIf="!isDatasLoaded" class="no-data">
          <span>No data present</span>
        </div>
      </div>
    </div>
    <div class="row share fixed-bottom">
      <div class="col-12">
        <button class="btn btn-light" (click)="sharePage()">
          <span class="oi oi-share" aria-hidden="true">Share</span>
        </button>
      </div>
    </div>
  </div>
</div>

<input type="text" id="input_copy_link" class="hidden-text">
<div id="snackbar">Copy to clipboard!</div>

