/** TOP PART **/

.background{
  height: 100%;
  width: 100%;
  background: #8E2DE2;
  background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);
  background: linear-gradient(to right, #4A00E0, #8E2DE2);
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.image{
  width: 60%;
}

.img-wrapper{
  text-align: center;
}

.header{
  width: 100%;
  height: 100px;
  position: absolute;
  padding-left: 36px;
  left: 0;
  top: 0;
  vertical-align: middle;
}

.header-inner {
  height: 100%;
}

.title{
  font-size: 1.5em;
  color: #eeeeee;
}

.explanation .title{
  font-weight: 900;
  font-size: 1.2em;
}

.explanation .subtitle{
  font-size: .9em;
}

.explanation{
  color: white;
  opacity: .87;
  font-size: 1.3em;
  text-align: left;
  margin-top: 36px;
  margin-bottom: 36px;
}

.main-content > div{
  margin-bottom: 36px;
}

.input-wrapper form{
  width: 100%;
  display: inline-flex;
}

.input-wrapper input{
  margin-right: 16px;
}

.input-wrapper input:first-child{
  width: 50%;
}

.input-wrapper button, .dropdown button{
  background-color: #FF4081;
  border-color: #FF4081;
  color: white;
}

.main-button button{
  width: 80px;
}

.oi{
  top: 3px!important;
}

.slash{
  margin-right: 16px;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 1.5em;
}

.or-txt{
  color: white;
  font-size: 1.5em;
}

/** END TOP PART **/

/** BOTTOM PART **/

.user-error{
  color: #cc0000;
  display: block;
  margin-top: .5em;
  padding-left: 16px;
  font-size: .9em;
}

.light{
  color: white;
}

#bottom-part{
  padding-top: 16px;
  height: 100%;
}

.title-dark{
  margin-bottom: 16px;
  font-size: 1.5em;
  color: #000;
  opacity: .87;
  display: block;
}

.contributor{
  margin-bottom: 16px;
  display: block;
  opacity: .6;
}

.contributor-wrapper{
  margin-top: 16px;
  padding-right: 72px;
}

.contributor-panel{
  padding-left: 50px;
}

.contributor-wrapper input{
  margin-right: 16px;
}

.btn-outline-primary{
  top: 3px!important;
}

.loading-wrapper{
  color: #495057;
  margin-top: .5em;
  padding-left: 16px;
  font-size: .9em;
}

.loading-wrapper > span{
  margin-right: 16px;
}

.loading{
  -webkit-animation-name: spin;
  -webkit-animation-duration: 500ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 500ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 500ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;

  animation-name: spin;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

.delete{
  background: none;
  color: #cc0000!important;
  margin-right: 8px;
  transition-duration: 300ms;
  border: none;
  outline: none;
}

.delete:hover{
  text-decoration: none;
  color: #495057!important;
}

.delete:focus{
  border: none;
  outline: none;
}

/** CHART PART **/

.charts{
  height: 600px;
  width: 100%;
}

.nav-tabs{
  margin-bottom: 16px;
}

.nav-tabs a{
  color: #FF4081;
}

.nav-tabs a:hover{
  color: #6c757d;
}

.filter-msg{
  color: #000;
  opacity: .6;
  width: 100%;
  margin-top: 36px;
  text-align: center;
}

.no-data{
  margin-top: 16px;
  opacity: .6;
}

.comparator-pane{
  min-height: 100%;
}

.chart-languages .title-dark{
  font-size: 1.2em;
  text-align: center;
}

.container-fluid{
  height: 100%;
}

.share{
  background: white;
  -webkit-box-shadow: 0px 7px 9px 25px rgba(255,255,255,1);
  -moz-box-shadow: 0px 7px 9px 25px rgba(255,255,255,1);
  box-shadow: 0px 7px 9px 25px rgba(255,255,255,1);
}

.share span{
  color: #FF4081;
}

.share span:hover{
  color: #6c757d;
}

.share div{
  text-align: left;
  margin-bottom: 16px;
}

.share button{
  border: none;
  background: none;
}

.share button span:before{
  margin-right: 16px;
}

.podium{
  min-height: 180px;
  text-align: center;
  height: 100px;
}

.podium img{
  width: 150px;
  border-radius: 50%;
  transition-duration: 400ms;
}

.podium img:hover{
  opacity: .6;
}

.podium .first{
  background: #4A00E0;
}

.podium .second{
  background: #8E2DE2;
}

.podium .third{
  background: #495057;
}

.podium .top{
  border-radius: 12px 12px 0 0;
}

.empty{
  background: transparent;
}

/** END CHART PART **/
/** END BOTTOM PART **/

/** SNACKBAR **/

.hidden-text{
  position:absolute;
  left:-9999px
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  z-index: 999999;
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #3333339c; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 5px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
 However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

/* END SNACKBAR */
